In [1]:
import numpy as np
import pandas as pd
import os 
import glob
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
train_input = pd.read_hdf('./train_multi_inputs.h5', start=0, stop=1000)
train_target = pd.read_hdf('./train_multi_targets.h5', start=0, stop=1000)

In [8]:
train_input.sample(5)

gene_id,GL000194.1:114519-115365,GL000194.1:55758-56597,GL000194.1:58217-58957,GL000194.1:59535-60431,GL000195.1:119766-120427,GL000195.1:120736-121603,GL000195.1:137437-138345,GL000195.1:15901-16653,GL000195.1:22357-23209,GL000195.1:23751-24619,...,chrY:7722278-7723128,chrY:7723971-7724880,chrY:7729854-7730772,chrY:7731785-7732664,chrY:7810142-7811040,chrY:7814107-7815018,chrY:7818751-7819626,chrY:7836768-7837671,chrY:7869454-7870371,chrY:7873814-7874709
cell_id,,,,,,,,,,,,,,,,,,,,,
212a24e07571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414118dd89fc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2da9128e0901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27c59405388d,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3bb0b4b44117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
train_target.sample(5)

gene_id,ENSG00000121410,ENSG00000268895,ENSG00000175899,ENSG00000245105,ENSG00000166535,ENSG00000256661,ENSG00000184389,ENSG00000128274,ENSG00000094914,ENSG00000081760,...,ENSG00000086827,ENSG00000174442,ENSG00000122952,ENSG00000198205,ENSG00000198455,ENSG00000070476,ENSG00000203995,ENSG00000162378,ENSG00000159840,ENSG00000074755
cell_id,,,,,,,,,,,,,,,,,,,,,
7447a540aa7b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,5.135069,4.447792,4.447792,0.0,4.447792,5.538570,0.0,5.135069,0.000000,0.000000
cbee0e8caca0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.000000,5.681820,0.0,0.000000,0.000000,0.0,0.000000,5.278058,4.590000
6f5820d4b86f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,4.352008,...,0.000000,4.352008,4.352008,0.0,0.000000,4.352008,0.0,0.000000,5.038694,5.728595
8abba1458e2b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.568995,0.0,4.568995,...,0.000000,0.000000,4.568995,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
42f87eea9399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,4.581544,0.000000,0.0,0.000000,5.673306,0.0,0.000000,0.000000,0.000000

In [16]:
evaluation = pd.read_csv('../evaluation_ids.csv', nrows=1000)

In [19]:
evaluation.sample(10)

     row_id       cell_id   gene_id
727     727  0fd801488185      CD25
262     262  65b7edf8a4da  TCRVa7.2
875     875  526647a698f8      CD20
818     818  0fd801488185     CD49a
275     275  65b7edf8a4da     HLA-E
25       25  c2150f55becb      CD14
933     933  526647a698f8     CD124
13       13  c2150f55becb      CD19
536     536  917168fa6f83     CD158
660     660  2b29feeca86d      CD81

In [20]:
multi_gene_id_mean = train_target.mean()

In [21]:
multi_gene_id_mean

gene_id
ENSG00000121410    0.709850
ENSG00000268895    0.293928
ENSG00000175899    0.182506
ENSG00000245105    0.050846
ENSG00000166535    0.032493
                     ...
ENSG00000070476    2.511078
ENSG00000203995    0.021521
ENSG00000162378    1.000426
ENSG00000159840    1.329241
ENSG00000074755    1.866305
Length: 23418, dtype: float32